*{
    margin: 0;
}

.box{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 100px;
    padding-left: 10px;
    padding-top: 10px;
}